[Unit]
Description=RedHouse Weather Forecast Collection Timer
Requires=redhouse-weather.service

[Timer]
OnBootSec=2min
OnCalendar=hourly
OnCalendar=*:02:00
AccuracySec=1s

[Install]
WantedBy=timers.target
