[Unit]
Description=RedHouse Wind Power Data Collection Timer
Requires=redhouse-windpower.service

[Timer]
OnBootSec=2min
OnCalendar=hourly
OnCalendar=*:05:00
AccuracySec=1s

[Install]
WantedBy=timers.target
